@charset "UTF-8";

/* 로그인 폼 */
body {
	background-image: url(./images/library-488690_1920.jpg);
	background-size : cover;
	font-family: 'Ubuntu', sans-serif;
}

.main {
	background-color:#f26033;
	width: 400px;
	height: 400px;
	margin: 7em auto;
	border-radius: 0.3em;
}

.searchBox{
	background-color:#f26033;
	width: 400px;
	height: 800px;
	margin: 7em auto;
	border-radius: 0.3em;
}

.searchBox p{
	text-align: center;
}

.searchBox h5{
	text-align: center;
}

.btn{
	text-align: center;
}

.un {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: white;
	padding: 20px;
	border: none;
	border-radius: 0.3em;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-top : 20px;
	margin-left: 46px;
	margin-bottom: 27px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.pass {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: white;
	padding: 20px;
	border: none;
	border-radius: 0.3em;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-bottom: 50px;
	margin-left: 46px;
	text-align: center;
	margin-bottom: 27px;
	font-family: 'Ubuntu', sans-serif;
}

.un:focus, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
	color: #85827b;
	background: white;
	border: 0;
	border-radius: 0.3em;
	padding: 5px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.forgot {
	color: white;
	padding-top: 15px;
}
a {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: white;
	text-decoration: none;
}

@media ( max-width : 600px) {
	.main {
		border-radius: 0px;
	}
}